<div class="name" *ngIf="showName">
    Name: <input [(ngModel)]="name" />
    <a (click)="setName()" class="btn">Set Name</a>    
</div>

<div class="wrapper" [class]="showFullScreen ? 'fullscreen' : ''">
    <div class='stream'>
        <video width="100%" height="100%" class="video" #videoPlayer>
            <source src="{{pathToVideo}}" type="video/mp4">
        </video>
        <div class="controls" *ngIf="showControls">
            <a (click)="play()" class="btn">Play</a>
            <a (click)="pause()" class="btn">Pause</a>
            <a (click)="forward()" class="btn">Skip 10</a>
            <a (click)="reverse()" class="btn">Back 10</a>
            <a (click)="fullscreen()" class="btn">Fullscreen</a>
        </div>
    </div>
    <div class="chat">
        <a (click)="enableControls()" class="btn showControls">Show/hide controls</a>

        <ng-container *ngFor="let message of chat">
            <p class="message">{{message}}</p>
        </ng-container>
        <div class="chatter">
            <input [(ngModel)]="message" />
            <a (click)="send()">Send</a>    
        </div>
    </div>
</div>
